*~
*.o
*.a
*.x
*.so
*.mod
*.exe
*.i90
*.dat
*.log
*.out
*.pyf
*.pyc
*.swp
*.data
*.optrpt
*.dSYM
.DS_Store
fort.*
atom.cix
test.py
test.f90
ctqmc_open_py.f90
atomic_open_py.f90
src/app/begonia/df
src/ctqmc/*/ctqmc
src/tools/hibiscus/entropy/entropy
src/tools/hibiscus/stoch/sac
src/tools/hibiscus/toolbox/mchi
src/tools/hibiscus/toolbox/mdos
src/tools/hibiscus/toolbox/mkra
src/tools/hibiscus/toolbox/mscr
src/tools/hibiscus/toolbox/msig
src/tools/hibiscus/toolbox/mstd
src/tools/hibiscus/toolbox/mtau
src/tools/hibiscus/toolbox/mups
src/tools/jasmine/atomic
