*~
*.in
*.swp
*.mod
*.o
*.a
*.x
*.so
*.exe
*.i90
*.dat
*.data
*.log
*.out
*.pyf
*.optrpt
atom.cix
fort.*
test.f90
py_api.f90
src/ctqmc/*/ctqmc
entropy
maxent
sai
mchi
mdos
mkra
mscr
msig
mstd
mtau
mups
atomic
.DS_Store
